<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/security.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/security.js') }}"></script>
    <title>Security View</title>
</head>
<body>
    <header>
        <h1>Security Monitoring</h1>
    </header>
    <main>
        <div class="container">
            <h1 class="text-center">Security Overview</h1>

           <!-- Intrusion Detected Alert -->
            {% if intrusion_detected %}
            <div class="alert alert-danger text-center" role="alert">
                {% autoescape false %}
                    {{message}}
                {% endautoescape %}
            </div>
            {% else %}
            <div class="alert alert-success text-center" role="alert">
                {% autoescape false %}
                    {{message}}
                {% endautoescape %}
            </div>
            {% endif %}

            <!-- Node Details -->
            <div id="nodes-container">
                <div class="row mt-4">
                    {% for node, details in nodes.items() if node != 'Intrusion_detected' %}
                    <div class="col-md-6">
                        <div class="card mb-3 {% if details['on_alert'] %}border-success{% else %}border-danger{% endif %}" id="node-card-{{ node }}">
                            <div class="card-header bg-primary text-white">
                                {{ node }}
                            </div>
                            <div class="card-body">
                                <p class="status">Status: {{ 'Active' if details.on_alert else 'On Standby' }}</p>
                                <p class="door">Door: {{ details.sensors.get('door', 'N/A') }}</p>
                                <p class="motion">Motion: {{ details.sensors.get('motion', 'N/A') }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>
