{% extends "base.html" %}

{% block title %}Security Monitoring{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/security.css') }}">
{% endblock %}

{% block styles %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/security.css') }}">-->
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/security2.js') }}"></script>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h1 class="text-center">Security Overview</h1>

        <div id="intrusion-message-container" class="alert alert-success">
            No intrusion detected.
        </div>

        <button id="reset-intrusion-button" class="btn btn-warning">
            Reset Intrusion Alarm
        </button>

        <!-- Node Details -->
        <div id="nodes-container">
            {% for node, details in nodes.items() if node not in ['Intrusion_detected', 'intrusion_message'] %}
            <div class="card mb-3 {% if details['on_alert'] %}border-success{% else %}border-danger{% endif %}" id="node-card-{{ node }}">
                <div class="card-header">
                    {{ node }}
                    <div class="float-end">
                        <label>Activate</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input custom-toggle" type="checkbox" id="toggle-{{ node }}" {% if details.on_alert %}checked{% endif %}>
<!--                            <label class="form-check-label" for="toggle-{{ node }}">{{ node }}</label>-->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="status">Status: {{ 'Active' if details.on_alert else 'On Standby' }}</p>
                    <p class="door">Door: {{ details.get('sensors', {}).get('security', {}).get('door', 'N/A') }}</p>
                    <p class="motion">Motion: {{ details.get('sensors', {}).get('security', {}).get('motion', 'N/A') }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
